.red {
  color: rgb(277, 95, 107);
}

.v-middle {
  vertical-align: middle;
}

.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
}

.footer > span {
  font-size: 18px;
  font-weight: 300;
}
